# Compilados Java
*.class

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Pasta de build
bin/
build/
target/
out/

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# Maven
target/

# Gradle
.gradle/
build/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env

# JARs gerados
*.jar
*.war
*.ear